@font-face {
    font-family: hero;
    src: url(/hilmar-3.woff);
}

@font-face {
    font-family: sans;
    src: url(/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100%;
    color: #fff;
    font-weight: 100;
}

.main {
    width: 100%;
}

.loader {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: #fff;
    font-family: Helvetica, sans-serif;
    z-index: 99;
    overflow: hidden;
}

.loader .slogan {
    position: absolute;
    width: 70%;
    font-size: 21px;
    top: 20px;
    left: 20px;
    line-height: 27px;
    /* opacity: 0; */
    /* letter-spacing: 1px; */
}

.loader .slogan span {
    background-color: #cdf756;
    /* margin: 1px; */
    padding: 1px 7px 1px 7px;
    border-radius: 3px;

}

.loader .logo {
    position: absolute;
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;

    /* letter-spacing: 4px; */
}

.main .logo .image {
    width: 70px;
    height: 70px;
    background-color:#cdf756;
    border-radius: 50%;
}

#green {
    /* display: none; */
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    z-index: 99;
    background-color: #cdf756;
}

.home {
    height: 100vh;
    width: 100%;
    background-color: #111;
    z-index: 98;
}


#load {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%,-50%); */
}

.loader-animation {
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
}

.loader-animation::before,
.loader-animation::after {
    content: "";
    grid-area: 1/1;
    margin: 5px;
    border: inherit;
    border-radius: 50%;
}

.loader-animation::before {
    border-color: #cdf756 #111;
    animation: inherit;
    animation-duration: .5s;
    animation-direction: reverse;
}

.loader-animation::after {
    margin: 16px;
}

@keyframes l16 {
    100% {
        transform: rotate(1turn)
    }
}


@media(max-width:315px) {
    .main .logo h1 {
        display: none;
    }

    .loader .logo h1 {
        font-size: 40px;
    }
}

@media(min-width:700px) {
    .loader .logo {
        bottom: 20px;
        right: 20px;
    }
}

@media(max-width:699px) {

    .loader .slogan {
        display: none;
    }

    .loader .logo {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    #load {
        position: absolute;
        top: 34%;

    }

    .loader .logo h1 {
        font-size: 75px;
    }

}